USE [FooderAI_25GAI]
GO
/****** Object:  Table [dbo].[gemini_usage]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gemini_usage](
	[usage_id] [int] IDENTITY(1,1) NOT NULL,
	[usage_date] [date] NOT NULL,
	[machine_id] [nvarchar](64) NULL,
	[user_id] [int] NULL,
	[request_count] [int] NOT NULL,
	[token_count] [int] NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[daily_limit_hit] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_daily_usage]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_daily_usage] AS
SELECT
    machine_id,
    user_id,

    -- Tổng request đã gọi hôm nay
    -- COALESCE(x, 0): nếu chưa có dòng nào hôm nay → trả 0 thay vì NULL
    COALESCE(SUM(request_count), 0)  AS today_requests,

    -- Số câu còn lại hôm nay
    -- GREATEST không có trong SQL Server → dùng CASE để tránh số âm
    CASE
        WHEN COALESCE(SUM(request_count), 0) >= 1500 THEN 0
        ELSE 1500 - COALESCE(SUM(request_count), 0)
    END                              AS remaining,

    -- Flag: 1 = đã hết quota hôm nay, 0 = còn quota
    CASE
        WHEN COALESCE(SUM(request_count), 0) >= 1500 THEN 1
        ELSE 0
    END                              AS is_limited,

    -- Ngày hôm nay — để Python verify đúng ngày
    CAST(GETDATE() AS DATE)          AS today

FROM dbo.gemini_usage
-- Chỉ tính các dòng của HÔM NAY
-- CAST cả 2 vế về DATE để so sánh ngày, bỏ qua giờ phút giây
WHERE usage_date = CAST(GETDATE() AS DATE)

-- Group theo machine + user để mỗi máy/user có quota riêng
GROUP BY machine_id, user_id;
GO
/****** Object:  Table [dbo].[food_scan_log]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_scan_log](
	[scan_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[scanned_at] [datetime2](7) NOT NULL,
	[image_path] [varchar](500) NULL,
	[food_name] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[benefits] [nvarchar](max) NULL,
	[warnings] [nvarchar](max) NULL,
	[tokens_used] [int] NULL,
	[scan_status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[scan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_scan_summary]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_scan_summary] AS
SELECT
    -- Lọc theo user (NULL = chưa login — group riêng)
    user_id,

    -- Ngày quét (bỏ phần giờ)
    CAST(scanned_at AS DATE)                                        AS scan_date,

    -- Tổng số lần quét trong ngày
    COUNT(*)                                                        AS total_scans,

    -- Đếm theo từng loại kết quả
    SUM(CASE WHEN scan_status = 'success'  THEN 1 ELSE 0 END)      AS success_count,
    SUM(CASE WHEN scan_status = 'not_food' THEN 1 ELSE 0 END)      AS not_food_count,
    SUM(CASE WHEN scan_status = 'error'    THEN 1 ELSE 0 END)      AS error_count,

    -- Tổng token Vision tiêu thụ trong ngày
    COALESCE(SUM(tokens_used), 0)                                   AS total_tokens

FROM dbo.food_scan_log
GROUP BY
    user_id,
    CAST(scanned_at AS DATE);
GO
/****** Object:  Table [dbo].[users]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[uid] [nvarchar](128) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[display_name] [nvarchar](100) NULL,
	[age] [int] NULL,
	[gender] [nvarchar](10) NULL,
	[height_cm] [float] NULL,
	[weight_kg] [float] NULL,
	[goal] [nvarchar](20) NULL,
	[activity_level] [float] NULL,
	[bmi] [float] NULL,
	[bmr] [int] NULL,
	[tdee] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[photo_url] [nvarchar](500) NULL,
	[google_access_token] [nvarchar](2048) NULL,
	[last_login_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gritalyst_session]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gritalyst_session](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[machine_id] [nvarchar](64) NULL,
	[msg_count] [int] NOT NULL,
	[nsfw_streak] [int] NOT NULL,
	[muted_until] [datetime2](7) NULL,
	[reset_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[chat_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_user_profile]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_user_profile] AS
SELECT
    -- session_id: Python WHERE theo cái này
    gs.session_id,

    -- user_id: Python kiểm tra NULL = chưa login → không cá nhân hóa
    u.user_id,

    -- Tên user: Gemini có thể dùng "Bạn [tên] ơi..." nếu muốn
    u.display_name,

    -- Thông tin cơ thể: Gemini cá nhân hóa lời khuyên theo các cột này
    u.age,
    u.gender,
    u.height_cm,
    u.weight_kg,
    u.goal,            -- 'lose' | 'maintain' | 'gain'
    u.activity_level,  -- 1.2 | 1.375 | 1.55 | 1.725 | 1.9

    -- Chỉ số đã tính sẵn: truyền thẳng vào system prompt Gemini
    -- VD: "User có BMI=27.4 (thừa cân), TDEE=2100 kcal, mục tiêu giảm cân"
    u.bmi,
    u.bmr,
    u.tdee

FROM dbo.gritalyst_session AS gs
LEFT JOIN dbo.users AS u
    ON u.user_id = gs.user_id;
GO
/****** Object:  Table [dbo].[chat_history_log]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_history_log](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[turn_index] [int] NOT NULL,
	[role] [varchar](10) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gritalyst_log]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gritalyst_log](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[sent_at] [datetime2](7) NOT NULL,
	[user_message] [nvarchar](max) NOT NULL,
	[bot_response] [nvarchar](max) NULL,
	[msg_type] [nvarchar](20) NOT NULL,
	[nsfw_level] [tinyint] NOT NULL,
	[tokens_used] [int] NULL,
	[chat_history_len] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_logs]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_logs](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[logged_at] [datetime2](7) NOT NULL,
	[weight_kg] [float] NULL,
	[height_cm] [float] NULL,
	[bmi] [float] NULL,
	[bmr] [int] NULL,
	[tdee] [int] NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[food_scan_log] ON 

INSERT [dbo].[food_scan_log] ([scan_id], [user_id], [scanned_at], [image_path], [food_name], [description], [benefits], [warnings], [tokens_used], [scan_status]) VALUES (1, NULL, CAST(N'2026-05-31T23:09:01.6400000' AS DateTime2), N'C:\test\banh_mi.jpg', N'Bánh mì thịt nguội', N'Ổ bánh mì giòn với thịt nguội, chả lụa, rau thơm.', N'• Cung cấp tinh bột nhanh\n• Protein từ thịt nguội', N'• Nhiều natri\n• Không nên ăn quá 2 ổ/ngày', 350, N'error')
INSERT [dbo].[food_scan_log] ([scan_id], [user_id], [scanned_at], [image_path], [food_name], [description], [benefits], [warnings], [tokens_used], [scan_status]) VALUES (2, NULL, CAST(N'2026-05-31T23:09:01.6533333' AS DateTime2), N'C:\test\chay.jpg', N'KHÔNG PHẢI MÓN ĂN', N'Ảnh không chứa món ăn', NULL, NULL, 120, N'not_food')
INSERT [dbo].[food_scan_log] ([scan_id], [user_id], [scanned_at], [image_path], [food_name], [description], [benefits], [warnings], [tokens_used], [scan_status]) VALUES (3, NULL, CAST(N'2026-05-31T23:09:01.6566667' AS DateTime2), NULL, N'Lỗi kết nối', NULL, NULL, NULL, 0, N'error')
SET IDENTITY_INSERT [dbo].[food_scan_log] OFF
GO
SET IDENTITY_INSERT [dbo].[gritalyst_session] ON 

INSERT [dbo].[gritalyst_session] ([session_id], [user_id], [machine_id], [msg_count], [nsfw_streak], [muted_until], [reset_at], [created_at], [updated_at], [chat_count]) VALUES (1, NULL, N'LAPTOP-FB5BJ4FI', 8, 0, NULL, CAST(N'2026-06-02T10:25:17.7480070' AS DateTime2), CAST(N'2026-05-27T23:24:14.6400000' AS DateTime2), CAST(N'2026-06-02T06:32:32.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[gritalyst_session] OFF
GO
SET IDENTITY_INSERT [dbo].[user_logs] ON 

INSERT [dbo].[user_logs] ([log_id], [user_id], [logged_at], [weight_kg], [height_cm], [bmi], [bmr], [tdee], [note]) VALUES (1, 1, CAST(N'2026-06-01T22:40:07.6433333' AS DateTime2), 70, 170, 24.22, 1642, 2545, NULL)
INSERT [dbo].[user_logs] ([log_id], [user_id], [logged_at], [weight_kg], [height_cm], [bmi], [bmr], [tdee], [note]) VALUES (2, 1, CAST(N'2026-06-01T23:48:41.0800000' AS DateTime2), 70, 170, 24.22, 1642, 1971, NULL)
INSERT [dbo].[user_logs] ([log_id], [user_id], [logged_at], [weight_kg], [height_cm], [bmi], [bmr], [tdee], [note]) VALUES (3, 1, CAST(N'2026-06-01T23:48:41.7300000' AS DateTime2), 70, 170, 24.22, 1642, 1971, NULL)
SET IDENTITY_INSERT [dbo].[user_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [uid], [email], [display_name], [age], [gender], [height_cm], [weight_kg], [goal], [activity_level], [bmi], [bmr], [tdee], [created_at], [updated_at], [photo_url], [google_access_token], [last_login_at]) VALUES (1, N'local_LAPTOP-FB5BJ4FI', N'local@fooderai.app', N'Người dùng cục bộ', 18, N'female', 170, 90, N'maintain', 1.2, 31.1, 1711, 2053, CAST(N'2026-06-01T22:38:04.3600000' AS DateTime2), CAST(N'2026-06-02T01:48:40.4833333' AS DateTime2), N'', NULL, CAST(N'2026-06-02T06:33:39.4993330' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164875027D0]    Script Date: 2026-06-02 07:46:45 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__DD701265B19B295C]    Script Date: 2026-06-02 07:46:45 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chat_history_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[food_scan_log] ADD  DEFAULT (getdate()) FOR [scanned_at]
GO
ALTER TABLE [dbo].[food_scan_log] ADD  DEFAULT ((0)) FOR [tokens_used]
GO
ALTER TABLE [dbo].[food_scan_log] ADD  DEFAULT ('success') FOR [scan_status]
GO
ALTER TABLE [dbo].[gemini_usage] ADD  DEFAULT (CONVERT([date],getdate())) FOR [usage_date]
GO
ALTER TABLE [dbo].[gemini_usage] ADD  DEFAULT ((0)) FOR [request_count]
GO
ALTER TABLE [dbo].[gemini_usage] ADD  DEFAULT ((0)) FOR [token_count]
GO
ALTER TABLE [dbo].[gemini_usage] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[gemini_usage] ADD  DEFAULT ((0)) FOR [daily_limit_hit]
GO
ALTER TABLE [dbo].[gritalyst_log] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[gritalyst_log] ADD  DEFAULT (N'normal') FOR [msg_type]
GO
ALTER TABLE [dbo].[gritalyst_log] ADD  DEFAULT ((0)) FOR [nsfw_level]
GO
ALTER TABLE [dbo].[gritalyst_session] ADD  DEFAULT ((0)) FOR [msg_count]
GO
ALTER TABLE [dbo].[gritalyst_session] ADD  DEFAULT ((0)) FOR [nsfw_streak]
GO
ALTER TABLE [dbo].[gritalyst_session] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[gritalyst_session] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[gritalyst_session] ADD  DEFAULT ((0)) FOR [chat_count]
GO
ALTER TABLE [dbo].[user_logs] ADD  DEFAULT (getdate()) FOR [logged_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[chat_history_log]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[gritalyst_session] ([session_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[food_scan_log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[gemini_usage]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[gritalyst_log]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[gritalyst_session] ([session_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[gritalyst_log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[gritalyst_session]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[user_logs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chat_history_log]  WITH CHECK ADD CHECK  (([role]='model' OR [role]='user'))
GO
ALTER TABLE [dbo].[food_scan_log]  WITH CHECK ADD  CONSTRAINT [CK_scan_status] CHECK  (([scan_status]='error' OR [scan_status]='not_food' OR [scan_status]='success'))
GO
ALTER TABLE [dbo].[food_scan_log] CHECK CONSTRAINT [CK_scan_status]
GO
ALTER TABLE [dbo].[gritalyst_log]  WITH CHECK ADD CHECK  (([msg_type]=N'blocked' OR [msg_type]=N'nsfw' OR [msg_type]=N'normal'))
GO
ALTER TABLE [dbo].[gritalyst_log]  WITH CHECK ADD CHECK  (([nsfw_level]>=(0) AND [nsfw_level]<=(9)))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([activity_level]=(1.9) OR [activity_level]=(1.725) OR [activity_level]=(1.55) OR [activity_level]=(1.375) OR [activity_level]=(1.2)))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([age]>=(1) AND [age]<=(120)))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([gender]=N'female' OR [gender]=N'male'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([goal]=N'gain' OR [goal]=N'maintain' OR [goal]=N'lose'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([height_cm]>=(50) AND [height_cm]<=(300)))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([weight_kg]>=(10) AND [weight_kg]<=(500)))
GO
/****** Object:  StoredProcedure [dbo].[usp_increment_usage]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_increment_usage]
    @machine_id  NVARCHAR(100),  -- ID máy tính (hostname)
    @user_id     INT = NULL,     -- ID user (NULL nếu chưa login)
    @tokens      INT = 0         -- số token dùng trong lần gọi này
AS
BEGIN
    SET NOCOUNT ON;  -- tắt thông báo "X rows affected" → Python không đọc nhầm

    MERGE dbo.gemini_usage AS target
    USING (
        -- "Nguồn" là 1 dòng ảo chứa dữ liệu muốn upsert
        SELECT @machine_id AS machine_id,
               @user_id    AS user_id,
               CAST(GETDATE() AS DATE) AS usage_date
    ) AS source
    ON (
        target.machine_id = source.machine_id
        AND (target.user_id = source.user_id OR (target.user_id IS NULL AND source.user_id IS NULL))
        AND target.usage_date = source.usage_date
    )
    -- Tìm thấy dòng hôm nay → cộng thêm
    WHEN MATCHED THEN
        UPDATE SET
            request_count = target.request_count + 1,
            token_count   = target.token_count + @tokens,
            updated_at    = GETDATE()
    -- Chưa có dòng hôm nay → tạo mới
    WHEN NOT MATCHED THEN
        INSERT (machine_id, user_id, usage_date, request_count, token_count)
        VALUES (@machine_id, @user_id, CAST(GETDATE() AS DATE), 1, @tokens);
END
GO
/****** Object:  StoredProcedure [dbo].[usp_log_scan]    Script Date: 2026-06-02 07:46:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_log_scan]
    -- Tham số đầu vào — tất cả có DEFAULT NULL để dễ gọi, chỉ truyền cái có
    @user_id      INT           = NULL,
    @image_path   VARCHAR(500)  = NULL,
    @food_name    NVARCHAR(200) = NULL,
    @description  NVARCHAR(MAX) = NULL,
    @benefits     NVARCHAR(MAX) = NULL,
    @warnings     NVARCHAR(MAX) = NULL,
    @tokens_used  INT           = 0,
    @scan_status  VARCHAR(20)   = NULL,     -- NULL → tự suy ra từ food_name

    -- Tham số đầu ra — trả về scan_id vừa INSERT
    @new_scan_id  INT           = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- ── TỰ SUY RA scan_status NẾU KHÔNG TRUYỀN VÀO ────────────────
    -- Logic:
    --   food_name = NULL hoặc rỗng            → 'error'   (AI không trả về gì)
    --   food_name = 'KHÔNG PHẢI MÓN ĂN'       → 'not_food'
    --   food_name = 'Lỗi phân tích' hoặc có ⚠️ → 'error'
    --   Còn lại                                 → 'success'
    IF @scan_status IS NULL
    BEGIN
        SET @scan_status =
            CASE
                WHEN @food_name IS NULL OR LTRIM(RTRIM(@food_name)) = ''
                    THEN 'error'
                WHEN @food_name LIKE N'KHÔNG PHẢI MÓN ĂN%'
                    THEN 'not_food'
                WHEN @food_name LIKE N'Lỗi%' OR @food_name LIKE N'⚠️%'
                    THEN 'error'
                ELSE 'success'
            END;
    END;

    -- ── VALIDATE scan_status ────────────────────────────────────────
    -- CHECK constraint trong bảng đã chặn, nhưng bắt lỗi sớm ở đây
    -- để trả về thông báo rõ ràng hơn là lỗi constraint SQL
    IF @scan_status NOT IN ('success', 'not_food', 'error')
        SET @scan_status = 'error';

    -- ── INSERT ──────────────────────────────────────────────────────
    INSERT INTO dbo.food_scan_log (
        user_id,
        image_path,
        food_name,
        description,
        benefits,
        warnings,
        tokens_used,
        scan_status
        -- scanned_at tự động điền DEFAULT GETDATE()
    )
    VALUES (
        @user_id,
        @image_path,
        -- Cắt food_name nếu vô tình dài hơn 200 ký tự (Gemini đôi khi trả dài)
        LEFT(@food_name, 200),
        @description,
        @benefits,
        @warnings,
        ISNULL(@tokens_used, 0),
        @scan_status
    );

    -- Lấy ID của dòng vừa INSERT
    SET @new_scan_id = SCOPE_IDENTITY();
END;
GO
